
<div id="main">
    <div class="row">
        <div class="col-md-12">
            <div id="msg"></div>

            <div id="dz-upload" class="dz-panel clearfix">
                Upload heart rate data
            </div>

            <div class="highchart-container"></div>
            <div id="hr-data">
                
            </div>

            
        </div>
    </div>
</div>
